<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs demo</title>
</head>
<body>
  <ul>
    <% for(let i = 0; i < nameList.length; i ++) { %>
      <li><%=nameList[i]%></li>
    <%}%>
  </ul>
  <div class="box">
    <%-index%>
  </div>
</body>
</html>